.logo img {
  height: 45px;
}
.logo {
  display: flex;
  align-items: center;
}

/* header  */

.header-container {
  text-align: center;
  margin-bottom: 80px;
}

.header-title {
  font-family: "TT Travels";

  font-weight: 800;
  font-size: 128px;
  line-height: 154px;
  text-transform: uppercase;
  z-index: 100;
  position: relative;
  text-shadow: 0 0 1px rgba(157, 254, 0, 1), 0 0 0px rgba(157, 254, 0, 1),
    0 0 0px rgba(157, 254, 0, 1), 0 0 0px rgba(20, 217, 229, 1),
    0 0 0px rgba(20, 217, 229, 1), 0 0 0px rgba(20, 217, 229, 1),
    0 0 102px rgba(20, 217, 229, 1), 0 0 151px rgba(20, 217, 229, 1);
}
.italic-text {
  font-style: italic;
}

.white-text {
  color: white !important;
}
.theme-text {
  background: -webkit-linear-gradient(
    rgba(157, 254, 0, 1),
    rgba(20, 217, 229, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: Linear Gradient rgba(157, 254, 0, 1) rgba(20, 217, 229, 1)
    rgba(255, 255, 255, 1); */
}

.white-space {
  margin-right: 24px;
}

.dash {
  position: absolute;
  left: 1200px;
  top: 75px;
}

.bubble {
  position: absolute;
  top: -35px;
  z-index: 10;
}

.gun {
  position: absolute;
  right: 0;
  top: 70px;
}

.third-line {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.third-line-text {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #14d9e6;
  text-align: justify !important;
}

.watch-now-btn {
  display: flex;
  padding: 6px;
  align-items: center;
  width: 200px;
  height: 58px;
  background: linear-gradient(99.46deg, #9dfe00 -10.9%, #14d9e6 97.14%);
  border-radius: 100px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #fbf8f3;
}

.container {
  padding: 0 100px;
  max-width: 1400px;
  background-image: url("../../images/HomePage/home-background.png"),
    url("../../images/HomePage/Spiral.png"),
    url("../../images/HomePage/Star.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top, bottom right, bottom;
}

/* hero fashion */

.white-text {
  color: white;
}
/* .gradient-text {
  background: linear-gradient(to right, #c81d1d, #259dda 70%);
} */
.the-ricky {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-fashion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Characters  */

.characters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}
.card-container {
  border: 1px solid black;
  border-radius: 10px 10px 50px 10px;
  padding: 16px;
  max-width: 170px;
  position: relative;
}

.character-name {
  margin-top: 24px;
}

.card-img {
  width: 170px;
  height: 150px;
}
.card-episode {
  width: 100px;
  height: 80px;
}

.meet-the-cast-text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* font-family: TTTravels-Black; */
}

/* Episodes */

.episode-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  margin-top: 20px;
}

.slick-prev {
  display: none !important;
}

.slick-list {
  padding: 0 20% 0 0 !important;
}

/* Locations */
.location-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}

.theme-border {
  border-radius: 8px;
  border-image: linear-gradient(
      rgba(132, 247, 41, 0.7),
      rgba(21, 191, 253, 0.7)
    )
    30;
  border-width: 4px;
  border-style: solid;
}
.text {
  color: white;
}

/* .slick-slide {
  margin: 0 24px !important;
  width: auto !important;
} */

/* responsiveness */

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
