body {
  background-image: url("../../../images/Cast/cast-background.png");
  background-repeat: repeat, no-repeat;
  background-position: top, bottom;
}

.full-cast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 68px 16px;
}
.logo {
  justify-content: center;
  align-items: center;
}

.theme-border {
  border-radius: 8px;
  border-image: linear-gradient(
      rgba(132, 247, 41, 0.7),
      rgba(21, 191, 253, 0.7)
    )
    30;
  border-width: 2px;
  border-style: solid;
  color: white;
}
.the-cast-text {
  color: rgba(20, 217, 229, 1);
}

/* responsiveness */

@media only screen and (max-width: 768px) {
  .full-cast-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 36px;
  }
}

@media screen and (max-width: 368px) and (min-width: 0px) {
  .full-cast-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 36px;
  }

  .logo img {
    height: 25px;
  }
}
